$rem-baseline: 16;

$main-bgcolor: rgb(220, 224, 231);
$group-card-bgcolor: rgb(255, 255, 255);
$group-card-border: rgb(241, 244, 250, .6);
$group-card-number: rgb(241, 244, 250, 1);

$text-color: rgb(26, 46, 79);
$list-color: rgb(26, 46, 79, .8);

// :root {
// 	--home-color: #ffc0cb;
// }
